<div class="container">
    
    <div class="frame">
        <!-- <a routerLink="/posts">posts</a> > {{post.title}}<br><br> -->
        <ng-container *ngIf="loaded">
<br>
            <div class="img"><img src="{{imagesPath}}{{post.featuredImageUrl}}" alt="featured image of the post"></div>
            
            <h3 class="title">{{post.title}}</h3>
            <div class="date">{{post.author}} - {{post.publishDate | date}}
            </div>
            <p class="text">{{post.content}}</p>
        </ng-container>
    </div>
</div>