h1{
    margin-bottom: 30px;
    font-size: 3.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}
.new-post{
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(238, 238, 238);
border-radius: 7px;
/* border: 1px solid black; */
}

.new-img{
    width: 500px;
    border-radius: 7px;
}
.new-text{
    padding-left: 30px;
    padding-top: 20px;
}

.old-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    /* width: 300px; */
}


/* .new-posts{
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: 1fr 1fr;
   
    width: 80%;
    gap: 8px;
    margin: 15px auto;
    
}
.old-posts{
    width: 80%;
    margin: 0 auto;
}
.old-post{
    display: flex;
}
.old-img{
    height: 50px;
}

.card{
    background-color: rgb(226, 226, 226);
}
.zero{
grid-column: 1 / 2;
grid-row: 1 / 3;
}
.one{
grid-column: 2 / 3;
grid-row: 1 / 2;
}
.two{
grid-column: 2 / 3;
grid-row: 2 / 3;
} */