<div class="container">
    <div class="new-posts">
        <ng-container *ngFor="let post of posts | slice:0:3; let index=index">
            <ng-container *ngIf="post.visible">
                    <div class="card zero" *ngIf="index==0" >
                        <img class="card-img-top" src="{{imagesPath}}{{post.featuredImageUrl}}" alt="featured image of the post">
                        <div class="card-body">
                            <h2 class="card-title">{{post.title}}</h2>
                            <p class="card-text">{{post.summary}}</p>
                            <a class="btn btn-primary" [routerLink]="['/posts/', post.id]">More...</a>
                        </div>
                    </div>
                    <div class="card one" *ngIf="index==1">
                        <img class="card-img-top" src="{{imagesPath}}{{post.featuredImageUrl}}" alt="featured image of the post">
                        <div class="card-body">
                            <h2 class="card-title">{{post.title}}</h2>
                            <p class="card-text">{{post.summary}}</p>
                            <a class="btn btn-primary" [routerLink]="['/posts/', post.id]">More...</a>
                        </div>
                    </div>
                    <div class="card two" *ngIf="index==2">
                        <img class="card-img-top" src="{{imagesPath}}{{post.featuredImageUrl}}" alt="featured image of the post">
                        <div class="card-body">
                            <h2 class="card-title">{{post.title}}</h2>
                            <p class="card-text">{{post.summary}}</p>
                            <a class="btn btn-primary" [routerLink]="['/posts/', post.id]">More...</a>
                        </div>
                    </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="old-posts">
        <ng-container *ngFor="let post of posts | slice:3:posts.length; let index=index">
            <!-- <ng-container *ngIf="post.visible"> -->
                    <div class="old-post">
                        <img class="old-img" src="{{imagesPath}}{{post.featuredImageUrl}}" alt="featured image of the post">
                        <div class="text">
                            <a [routerLink]="['/posts/', post.id]"><h2 class="title">{{post.title}}</h2></a>
                            <p class="summary">{{post.summary}}</p>
                        </div>
                    </div>
            </ng-container>
        <!-- </ng-container> -->
    </div>
</div>

<!-- <div class="card two" *ngIf="index==2">
    <img class="card-img-top" src="{{imagesPath}}{{post.featuredImageUrl}}" alt="featured image of the post">
    <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.summary}}</p>
        <a class="btn btn-primary" [routerLink]="['/posts/', post.id]">More...</a>
    </div>
</div> -->