.new-posts{
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: 1fr 1fr;
    /* height: 500px; */
    width: 80%;
    gap: 8px;
    margin: 15px auto;
    
}
.old-posts{
    width: 80%;
    margin: 0 auto;
}
.old-post{
    display: flex;
}
.old-img{
    height: 50px;
}

.card{
    background-color: rgb(226, 226, 226);
}
.zero{
grid-column: 1 / 2;
grid-row: 1 / 3;
}
.one{
grid-column: 2 / 3;
grid-row: 1 / 2;
}
.two{
grid-column: 2 / 3;
grid-row: 2 / 3;
}