<div class="container"><br>
    <input type="text" [(ngModel)]="categoryName.name">
    <button class="" (click)="addCategory()">Add Category</button><!-- btn btn-primary -->
    <br>
    <br>
    <h1>All Categories</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories.slice().reverse()">
            <td><app-admin-category-line [category]="category"></app-admin-category-line></td>
            <td><button class="btn btn-danger" (click)="delete(category.id, category.name)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>